# Hello World

In [1]:
print("Hello world")

Hello world

# Variable declaration

In [2]:
name = "Swapnil Pote"

In [3]:
age = 28

In [4]:
bank_balance = 0.0

In [5]:
type(name)

str

In [6]:
type(age)

int

In [7]:
type(bank_balance)

float

In [8]:
name = input("What is your name? ")

What is your name? Swapnil Pote

In [9]:
print(name)

Swapnil Pote

In [10]:
type(name)

str

In [11]:
age = input("What is your age? ")

What is your age? 28

In [12]:
print(age)

28

In [13]:
type(age)

str

# Data Type

In [14]:
countries = ["India", "USA", "China"]

In [15]:
type(countries)

list

In [16]:
countries[1]

'USA'

In [17]:
countries[1:3]

['USA', 'China']

In [18]:
cities = ("Indore", "Mumbai", "Pune")

In [19]:
type(cities)

tuple

In [20]:
cities[1]

'Mumbai'

In [21]:
cities[1:3]

('Mumbai', 'Pune')

In [22]:
currency = {"India": "Rupees", "USA": "Dollar"}

In [23]:
type(currency)

dict

In [24]:
currency["India"]

'Rupees'

In [25]:
currency.keys()

dict_keys(['India', 'USA'])

In [26]:
currency.values()

dict_values(['Rupees', 'Dollar'])

# Condition Operator

In [27]:
if "India" in countries:
    print("India")

India

In [28]:
if 0 == 1:
    print("Hello")
else:
    print("World")

World

In [29]:
if 0 == 1:
    print("Hello")
elif 1 == 2:
    print("World")
else:
    print("India")

India

# Loops

In [30]:
counter = 0

while counter < len(cities):
    print(cities[counter])
    
    counter += 1

Indore
Mumbai
Pune

In [31]:
for country in currency.keys():
    print(currency[country])

Rupees
Dollar

# Functions

In [32]:
def addition(num1, num2):
    result = num1 + num2
    print(result)

In [33]:
addition(10, 20)

30

In [34]:
def addition(num1, num2):
    result = num1 + num2
    return result

In [35]:
res = addition(10, 40)

In [36]:
print(res)

50

In [37]:
def greet(name, msg = "Good Morning"):
    print("Hello", name, msg)

In [38]:
greet("Swapnil")

Hello Swapnil Good Morning

# Modules

In [39]:
import example

In [40]:
example.add(4,5.5)

9.5

In [41]:
from example import add

In [42]:
add(15, 4.9)

19.9

In [43]:
from example import *

In [44]:
sub(18, 9)

9

# Packages

In [45]:
# Import classes from your brand new package
# import Animals
from Animals import Mammals
from Animals import Birds

In [46]:
# import importlib
# importlib.reload(Animals)

In [47]:
# Create an object of Mammals class & call a method of it
myMammal = Mammals()
myMammal.members
myMammal.printMembers()

# Create an object of Birds class & call a method of it
myBird = Birds()
myBird.printMembers()

Printing members of the Mammals class
	Tiger
	Elephant
	Wild Cat
	Lion
Printing members of the Birds class
	Sparrow
	Robin
	Duck